extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  a(href="http://github.com/SeyZ/yaapit")
    img#forkme(alt="Fork me on Github", src="/images/forkme.png")

  .row#title
    h3 Paste anything you want, your data is client-side encrypted !

  #paste
    .row#pasteButtons
      a#pasteUrl(href='#') no paste url
      #pasteSubmit.btn.btn-primary.btn-large Yaap it !
      span#error
    .row
      textarea#pasteTa
