extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  a(href="http://github.com/SeyZ/yaapit")
    img#forkme(alt="Fork me on Github", src="/images/forkme.png")

  .row#title
    h1 Yaap it !
    h3 Secured client side encryption paste.

  .row
    #pasteSubmit.btn.btn-primary.btn-large Yaap it !
    a#pasteUrl(href='#')
    span#error
  .row
    textarea#pasteTa
