<!DOCTYPE html>
<html>
  <head>
    <title>YaPaste !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id="pasteSubmit">Yaaa Paste !</button>
    <a href="#" id="pasteUrl"></a>
    <textarea id="pasteTa"></textarea>

    <script type='text/javascript' src='/javascripts/jquery-1.8.0.min.js'>
    </script>

    <script type='text/javascript' src='/javascripts/yapaste.js'>
    </script>
  </body>
</html>
