<!DOCTYPE html>
<html>
  <head>
    <title>YaPaste !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="row">
      <div id="pasteSubmit" class="btn btn-primary">Yaaa Paste 1</div>
      <a href="#" id="pasteUrl"></a>
    </div>

    <div class="row">
      <textarea id="pasteTa"></textarea>
    </div>

    <script type='text/javascript' src='/javascripts/jquery-1.8.0.min.js'>
    </script>

    <script type='text/javascript' src='/javascripts/yapaste.js'>
    </script>
  </body>
</html>
