<!DOCTYPE html>
<html>
  <head>
    <title>Yaaa Paste !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type='text/javascript' src='/javascripts/jquery-1.8.0.min.js'>
    </script>

    <script type='text/javascript' src='/javascripts/gibberish-aes.min.js'>
    </script>

    <script type='text/javascript' src='/javascripts/yapaste.js'>
    </script>
  </head>
  <body>
    <pre><%= paste %></pre>
  </body>
</html>

