body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#title {
  text-align: center;
}

#paste {
  margin-top: 30px;
}

#pasteTa {
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
}

#pasteUrl {
  display: block;
  visibility: hidden;
  padding: 0px 0px 20px 0px;
}

#error {
  display: inline-block;
  color: red;
}

#pasteButtons {
  text-align: center;
}

#pasteSubmit {
  width: 200px;
  height: 30px;
  padding-top: 20px;
}
